<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
      <section name="mongoLogger" type="GoodBearMongoLogger.Config.Impl.MongoLogger, GoodBearMongoLogger" allowLocation="true" allowDefinition="Everywhere" />
    </configSections>
  
    <mongoLogger>
      <loggers>
        <logger databaseName ="Logs" loggerName="Test"/>
      </loggers>
    </mongoLogger>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

</configuration>